<html>
    <head>
        <title>Today's Menu</title>
    </head>
    <body>
        <h1>Tea Actually</h1>
        <div>
        <h2><a href="">Hot drinks<a/></h2>
        <h3>Black tea</h3>
        <h3>Red tea</h3>
        <p><em>Decaffeinated Roobios tea</em></p>
        <h3>Green tea</h3>
        <h3>White tea</h3>
         <h3>All £2.8/cup</h3>
        <br />
        <div>
        <h2><a href="">Cold drinks<a/></h2>
        <h3>Iced Matcha</h3>
        <h3>Iced lemon tea</h3>
         <h3>All £3/cup</h3>
         <br />
         <div>
        <h2><a href="">Soft-serve ice cream<a/></h2>
        <li>3.6% whole milk soft-serve tea</li><li>Hojicha soft-serve ice cream</li></ul>
        <h3>All £3/cup</h3>
		<br />
        <a href="http://kinochaya.com/">link</a>
    </body>
</html>